@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Headland+One&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;

  --primary-color: #8be989;
  --color-grey-100: #e6e6e6;
  --color-grey-200: #b2b2b2;
  --color-grey-300: #979797;
  --color-grey-400: #6c6d7a;
  --color-grey-700: #4a4a4a;
  --color-grey-800: #030d02;
}

body {
  margin: 0;
}
